
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.ideais-mR6 {
  width: 100%;
  height: 123rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.0889rem 0.0889rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.ideais-mR6 .auto-group-zoqe-KBi {
  width: 32.102rem;
  height: 20.2rem;
  position: absolute;
  left: 0;
  top: 9.5rem;
}
.ideais-mR6 .auto-group-zoqe-KBi .defesa-da-moral-ordem-e-tradio-T32 {
  width: 19.8rem;
  height: 1.5rem;
  position: absolute;
  left: 6.3rem;
  top: 18.7rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3425;
  color: #000000;
  font-family: Tienne, 'Source Sans Pro';
  white-space: nowrap;
}
.ideais-mR6 .auto-group-zoqe-KBi .um-ponto-defendido-pelo-partido-o-nacionalismo-brasileiro-uma-ideia-que-defende-o-fortalecimento-da-nao-por-meio-de-seu-desenvolvimento-econmico-e-autossuficincia-criticando-abertamente-a-abertura-total-do-sistema-produtivo-nacional-a-entrega-do-subsolo-do-pas-s-mineradoras-multinacionais-e-a-eliminao-de-qualquer-privilgio-s-empresas-de-capital-nacional-jFS {
  width: 11.8rem;
  height: 20.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.ideais-mR6 .auto-group-zoqe-KBi .defendendo-um-modelo-econmico-que-priorizasse-o-mercado-interno-combatesse-a-concentrao-da-renda-e-os-desequilbrios-regionais-se-opondo-fortemente-a-economia-planificada-e-tambm-ao-livre-comrcio-em-prol-do-protecionismo-e-nacionalismo-economico-Tak {
  width: 12.3rem;
  height: 13.9rem;
  position: absolute;
  left: 17.4rem;
  top: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.ideais-mR6 .auto-group-zoqe-KBi .line-9-fwi {
  width: 32.102rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 17.5rem;
  background-color: #000000;
}
.ideais-mR6 .auto-group-czfe-Cwe {
  box-sizing: border-box;
  padding: 1.1rem 4.7rem 2.398rem 4.6rem;
  width: 32rem;
  height: 68rem;
  position: absolute;
  left: 0;
  top: 50.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ideais-mR6 .auto-group-czfe-Cwe .image-25-HiC {
  margin-bottom: 2.6199rem;
  width: 22.7rem;
  height: 14.3801rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.ideais-mR6 .auto-group-czfe-Cwe .image-26-QH2 {
  margin-bottom: 2.6191rem;
  width: 22.7rem;
  height: 15.6809rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.ideais-mR6 .auto-group-czfe-Cwe .image-28-w24 {
  margin-bottom: 2.6485rem;
  width: 22.7rem;
  height: 13.8515rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.ideais-mR6 .auto-group-czfe-Cwe .image-27-U1z {
  width: 22.7rem;
  height: 12.7024rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.ideais-mR6 .os-princpios-do-prona-cP6 {
  width: 16.4rem;
  height: 1.8rem;
  position: absolute;
  left: 8.2rem;
  top: 4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.145;
  color: #000000;
  font-family: Alice, 'Source Sans Pro';
  white-space: nowrap;
}
.ideais-mR6 .defesa-da-unidade-nacional-iS8 {
  width: 15.8rem;
  height: 1.5rem;
  position: absolute;
  left: 8.2rem;
  top: 7.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3425;
  color: #000000;
  font-family: Tienne, 'Source Sans Pro';
  white-space: nowrap;
}
.ideais-mR6 .auto-group-gjnq-Ddn {
  width: 32.102rem;
  height: 19.3rem;
  position: absolute;
  left: 0;
  top: 31rem;
}
.ideais-mR6 .auto-group-gjnq-Ddn .entrevistas-A3E {
  width: 8.8rem;
  height: 2.1rem;
  position: absolute;
  left: 11.5rem;
  top: 17.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3425;
  color: #000000;
  font-family: Tienne, 'Source Sans Pro';
  white-space: nowrap;
}
.ideais-mR6 .auto-group-gjnq-Ddn .outro-ponto-de-suma-importncia-a-defesa-da-ordem-tradio-e-moral-enfatizando-a-necessidade-de-se-restabelecer-a-ordem-na-sociedade-que-dividida-entre-o-elitismo-da-direita-a-desordem-da-esquerda-a-falsa-democracia-a-servio-das-alienadas-elites-dirigentes-internacionais-e-a-poltica-brasileira-em-relao-queles-chamados-polticos-profissionais-G6G {
  width: 12.6rem;
  height: 17.7rem;
  position: absolute;
  left: 3.5rem;
  top: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.ideais-mR6 .auto-group-gjnq-Ddn .polticos-que-exercem-diversos-mandatos-e-que-dependem-do-seu-salrio-visando-unicamente-manuteno-de-seus-mandatos-e-no-visando-ao-bem-estar-da-populao-posicionando-o-prona-como-a-nica-coisa-sria-que-existe-no-pas-havendo-a-defesa-das-tradies-a-moral-crist-e-os-bons-costumes-db2 {
  width: 10.9rem;
  height: 16.4rem;
  position: absolute;
  left: 17.2rem;
  top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.ideais-mR6 .auto-group-gjnq-Ddn .line-10-DJL {
  width: 32.102rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 16.7rem;
  background-color: #000000;
}
.ideais-mR6 .line-8-9hn {
  width: 32.0014rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2529rem;
  background-color: #000000;
}
.ideais-mR6 .cabealho-tvG {
  box-sizing: border-box;
  padding: 0.2rem 0.65rem 0.3rem 0.8rem;
  width: 32rem;
  height: 2.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1333rem 0.5778rem rgba(0, 0, 0, 0.25);
  background-color: #2e276d;
}
.ideais-mR6 .cabealho-tvG .image-1-zCc {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .line-6-vMA {
  margin: 0.1rem 1.93rem 0rem 0rem;
  width: 0.07rem;
  height: 2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .incio-SqJ {
  margin: 0.2rem 1.95rem 0rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .ideais-YtL {
  margin: 0.2rem 1.95rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .memorial-4rg {
  margin: 0.2rem 2.2rem 0rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .discusses-aa8 {
  margin: 0.2rem 2.35rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .refencias-UvQ {
  margin: 0.2rem 1.7rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .cabealho-tvG .cadastre-se-aTe {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .rodap-UJ8 {
  box-sizing: border-box;
  padding: 1.6rem 4.253rem 1.411rem 2.7rem;
  width: 32rem;
  height: 4.7111rem;
  position: absolute;
  left: 0;
  top: 118.3rem;
  display: flex;
  align-items: center;
  background-color: #2e276d;
}
.ideais-mR6 .rodap-UJ8 .prona-Yon {
  margin: 0rem 1.648rem 0rem 0rem;
  font-size: 0.7997rem;
  font-weight: 900;
  line-height: 1.3425;
  color: #ffffff;
  font-family: Tienne, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ideais-mR6 .rodap-UJ8 .line-11-4n8 {
  margin-right: 3.6741rem;
  width: 0.025rem;
  height: 1.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.ideais-mR6 .rodap-UJ8 .partido-da-reedificao-da-ordem-nacional-oDv {
  margin-bottom: 0.0503rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7997rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
