
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.incio-TPS {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.0889rem 0.0889rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.incio-TPS .cabealho-oCQ {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0.2rem 0.65rem 0.3rem 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1333rem 0.5778rem rgba(0, 0, 0, 0.25);
  background-color: #2e276d;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .image-1-uFS {
  margin-right: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .line-6-dhE {
  margin: 0.1rem 1.93rem 0rem 0rem;
  width: 0.07rem;
  height: 2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .incio-Z56 {
  margin: 0.2rem 1.95rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .ideais-Sua {
  margin: 0.2rem 1.95rem 0rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .memorial-xN8 {
  margin: 0.2rem 2.2rem 0rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .discusses-eVr {
  margin: 0.2rem 2.35rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .refencias-YLL {
  margin: 0.2rem 1.7rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .cabealho-oCQ .cadastre-se-qqE {
  margin-top: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5075;
  color: #ffffff;
  font-family: Anton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .prona-resgatando-um-pedao-da-histria-e-poltica-do-brasil-jQp {
  margin: 0rem 1.7rem 0.8rem 0rem;
  max-width: 24.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.incio-TPS .seja-bem-vindo-a-fan-page-do-prona-um-local-que-pretende-expor-o-legado-do-prona-e-seu-fundador-o-polmata-dr-enas-carneiro-por-meio-de-imagens-variadas-textos-interativos-e-uma-pgina-interativa-para-que-vocs-possam-comentar-tudo-isso-de-forma-totalmente-educativa-aproveite-ofa {
  max-width: 25.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk {
  box-sizing: border-box;
  padding: 0rem 2.4rem 1.932rem 1.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .auto-group-x3bi-vNp {
  margin: 0rem 10.9rem 1.619rem 11.8rem;
  width: calc(100% - 22.7rem);
  height: 1.8806rem;
  font-size: 1.2158rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe311;
  border-radius: 0.3799rem;
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .image-2-NVi {
  margin: 0rem 0rem 1.8rem 0.5rem;
  width: 25.9rem;
  height: 22.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .auto-group-6an8-tDA {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 0.7rem 0.4rem 0.3rem 0.4rem;
  width: 100%;
  height: 3.6rem;
  background-color: #007f0e;
  border-radius: 0.2222rem;
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .auto-group-6an8-tDA .um-partido-poltico-brasileiro-que-marcou-a-histria-com-sua-proposta-inovadora-e-promessas-ousadas-bdN {
  max-width: 26.7rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Times New Roman, 'Source Sans Pro';
}
.incio-TPS .auto-group-lnnq-1Wk .image-8-Stt {
  margin: 0rem 0rem 3.172rem 0.622rem;
  width: 10.8222rem;
  height: 10.3778rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .o-partido-da-reedificao-da-ordem-nacional-prona-foi-um-partido-poltico-brasileiro-fundado-pelo-dr-enas-ferreira-carneiro-em-1989-e-que-participou-ativamente-nas-eleies-presidenciais-de-1989-1994-e-1998-este-partido-nacionalista-apoiava-o-estado-forte-uma-economia-brasileira-sem-influncia-externa-o-nacional-conservadorismo-e-o-moralismo-rejeitando-a-classificao-de-esquerda-direita-e-identificando-se-s-como-nacionalista-AK6 {
  margin: 0rem 0rem 3.15rem 0.6rem;
  max-width: 25.6rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .rectangle-2-rr8 {
  margin: 0rem 2.1rem 1.9rem 3rem;
  width: calc(100% - 5.1rem);
  height: 0.1rem;
  background-color: #2e276d;
  flex-shrink: 0;
}
.incio-TPS .auto-group-lnnq-1Wk .b47a7b69c09815314226463x4md-1-aXE {
  margin-left: 0.8rem;
  width: 11.6rem;
  height: 13.3685rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.199rem;
  flex-shrink: 0;
}
.incio-TPS .auto-group-q7su-V8Q {
  width: 100%;
  height: 14.6111rem;
  position: relative;
  flex-shrink: 0;
}
.incio-TPS .auto-group-q7su-V8Q .o-fundador-foi-dr-enas-ferreira-carneiro-que-se-candidatou-pela-primeira-vez-nas-eleies-em-1989-no-qual-com-duas-inseres-dirias-de-15-segundos-no-horrio-eleitoral-gratuito-enas-que-at-ento-era-um-candidato-desconhecido-ficou-famoso-em-todo-pas-por-seus-discursos-enfticos-e-rpidos-que-defendiam-suas-propostas-finalizando-com-a-icnica-frase-meu-nome-enas-RGx {
  width: 25.8rem;
  height: 11.4rem;
  position: absolute;
  left: 3.4rem;
  top: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.incio-TPS .auto-group-q7su-V8Q .rodap-Ykt {
  box-sizing: border-box;
  padding: 1.6rem 4.253rem 1.411rem 2.7rem;
  width: 32rem;
  height: 4.7111rem;
  position: absolute;
  left: 0;
  top: 9.9rem;
  display: flex;
  align-items: center;
  background-color: #2e276d;
}
.incio-TPS .auto-group-q7su-V8Q .rodap-Ykt .prona-S5a {
  margin: 0rem 1.648rem 0rem 0rem;
  font-size: 0.7997rem;
  font-weight: 900;
  line-height: 1.3425;
  color: #ffffff;
  font-family: Tienne, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.incio-TPS .auto-group-q7su-V8Q .rodap-Ykt .line-11-YeQ {
  margin-right: 3.6741rem;
  width: 0.025rem;
  height: 1.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.incio-TPS .auto-group-q7su-V8Q .rodap-Ykt .partido-da-reedificao-da-ordem-nacional-sRn {
  margin-bottom: 0.0503rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7997rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
