
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.ideais-mR6 {
  overflow: hidden;
  box-shadow: 0 0.0889rem 0.0889rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  width: 100%;
  height: 123rem;
  position: relative;

  .auto-group-zoqe-KBi {
    left: 0;
    top: 9.5rem;
    width: 32.102rem;
    height: 20.2rem;
    position: absolute;

    .defesa-da-moral-ordem-e-tradio-T32 {
      white-space: nowrap;
      left: 6.3rem;
      top: 18.7rem;
      color: #000000;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.3425;
      font-family: Tienne, 'Source Sans Pro';
      width: 19.8rem;
      height: 1.5rem;
      position: absolute;
    }
    .um-ponto-defendido-pelo-partido-o-nacionalismo-brasileiro-uma-ideia-que-defende-o-fortalecimento-da-nao-por-meio-de-seu-desenvolvimento-econmico-e-autossuficincia-criticando-abertamente-a-abertura-total-do-sistema-produtivo-nacional-a-entrega-do-subsolo-do-pas-s-mineradoras-multinacionais-e-a-eliminao-de-qualquer-privilgio-s-empresas-de-capital-nacional-jFS {
      color: #000000;
      font-family: Times New Roman, 'Source Sans Pro';
      height: 20.2rem;
      font-size: 1rem;
      font-weight: 400;
      top: 0;
      line-height: 1.2575;
      width: 11.8rem;
      position: absolute;
      left: 4.2rem;
    }
    .defendendo-um-modelo-econmico-que-priorizasse-o-mercado-interno-combatesse-a-concentrao-da-renda-e-os-desequilbrios-regionais-se-opondo-fortemente-a-economia-planificada-e-tambm-ao-livre-comrcio-em-prol-do-protecionismo-e-nacionalismo-economico-Tak {
      height: 13.9rem;
      top: 0;
      line-height: 1.2575;
      color: #000000;
      font-family: Times New Roman, 'Source Sans Pro';
      width: 12.3rem;
      position: absolute;
      left: 17.4rem;
      font-size: 1rem;
      font-weight: 400;
    }
    .line-9-fwi {
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 17.5rem;
      background-color: #000000;
      width: 32.102rem;
    }
  }
  .auto-group-czfe-Cwe {
    left: 0;
    display: flex;
    height: 68rem;
    position: absolute;
    width: 32rem;
    top: 50.3rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.1rem 4.7rem 2.398rem 4.6rem;

    .image-25-HiC {
      height: 14.3801rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 2.6199rem;
      width: 22.7rem;
    }
    .image-26-QH2 {
      height: 15.6809rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 2.6191rem;
      width: 22.7rem;
    }
    .image-28-w24 {
      height: 13.8515rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 2.6485rem;
      width: 22.7rem;
    }
    .image-27-U1z {
      width: 22.7rem;
      height: 12.7024rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
  }
  .os-princpios-do-prona-cP6 {
    font-family: Alice, 'Source Sans Pro';
    width: 16.4rem;
    height: 1.8rem;
    position: absolute;
    left: 8.2rem;
    top: 4rem;
    font-size: 1.5rem;
    line-height: 1.145;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
  }
  .defesa-da-unidade-nacional-iS8 {
    width: 15.8rem;
    height: 1.5rem;
    position: absolute;
    top: 7.2rem;
    font-size: 1.1rem;
    color: #000000;
    font-family: Tienne, 'Source Sans Pro';
    left: 8.2rem;
    font-weight: 400;
    line-height: 1.3425;
    white-space: nowrap;
  }
  .auto-group-gjnq-Ddn {
    width: 32.102rem;
    height: 19.3rem;
    position: absolute;
    left: 0;
    top: 31rem;

    .entrevistas-A3E {
      position: absolute;
      left: 11.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3425;
      color: #000000;
      font-family: Tienne, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.8rem;
      height: 2.1rem;
      top: 17.2rem;
    }
    .outro-ponto-de-suma-importncia-a-defesa-da-ordem-tradio-e-moral-enfatizando-a-necessidade-de-se-restabelecer-a-ordem-na-sociedade-que-dividida-entre-o-elitismo-da-direita-a-desordem-da-esquerda-a-falsa-democracia-a-servio-das-alienadas-elites-dirigentes-internacionais-e-a-poltica-brasileira-em-relao-queles-chamados-polticos-profissionais-G6G {
      left: 3.5rem;
      font-size: 1rem;
      width: 12.6rem;
      height: 17.7rem;
      position: absolute;
      color: #000000;
      font-family: Times New Roman, 'Source Sans Pro';
      top: 0;
      font-weight: 400;
      line-height: 1.2575;
    }
    .polticos-que-exercem-diversos-mandatos-e-que-dependem-do-seu-salrio-visando-unicamente-manuteno-de-seus-mandatos-e-no-visando-ao-bem-estar-da-populao-posicionando-o-prona-como-a-nica-coisa-sria-que-existe-no-pas-havendo-a-defesa-das-tradies-a-moral-crist-e-os-bons-costumes-db2 {
      width: 10.9rem;
      height: 16.4rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.2575;
      font-family: Times New Roman, 'Source Sans Pro';
      left: 17.2rem;
      top: 0.1rem;
      font-size: 1rem;
      color: #000000;
    }
    .line-10-DJL {
      left: 0;
      top: 16.7rem;
      background-color: #000000;
      width: 32.102rem;
      height: 0.1rem;
      position: absolute;
    }
  }
  .line-8-9hn {
    top: 6.2529rem;
    background-color: #000000;
    width: 32.0014rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
  }
  .cabealho-tvG {
    display: flex;
    box-sizing: border-box;
    padding: 0.2rem 0.65rem 0.3rem 0.8rem;
    width: 32rem;
    height: 2.6rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    box-shadow: 0 0.1333rem 0.5778rem rgba(0, 0, 0, 0.25);
    background-color: #2e276d;

    .image-1-zCc {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.7rem;
      width: 2.1rem;
      height: 2.1rem;
      object-fit: cover;
    }
    .line-6-vMA {
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0.1rem 1.93rem 0rem 0rem;
      width: 0.07rem;
      height: 2rem;
    }
    .incio-SqJ {
      margin: 0.2rem 1.95rem 0rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      line-height: 1.5075;
      color: #ffffff;
      font-family: Anton, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .ideais-YtL {
      display: flex;
      justify-content: center;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.5075;
      white-space: nowrap;
      margin: 0.2rem 1.95rem 0rem 0rem;
      color: #ffffff;
      font-family: Anton, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
    }
    .memorial-4rg {
      cursor: pointer;
      display: flex;
      font-weight: 400;
      line-height: 1.5075;
      color: #ffffff;
      font-family: Anton, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.2rem 2.2rem 0rem 0rem;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      white-space: nowrap;
    }
    .discusses-aa8 {
      font-size: 0.7rem;
      line-height: 1.5075;
      color: #ffffff;
      font-family: Anton, 'Source Sans Pro';
      margin: 0.2rem 2.35rem 0rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-weight: 400;
      flex-shrink: 0;
    }
    .refencias-UvQ {
      display: flex;
      justify-content: center;
      font-size: 0.7rem;
      line-height: 1.5075;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 1.7rem 0rem 0rem;
      align-items: center;
      font-weight: 400;
      font-family: Anton, 'Source Sans Pro';
    }
    .cadastre-se-aTe {
      margin-top: 0.2rem;
      display: flex;
      justify-content: center;
      font-size: 0.7rem;
      font-family: Anton, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      font-weight: 400;
      line-height: 1.5075;
      color: #ffffff;
      flex-shrink: 0;
    }
  }
  .rodap-UJ8 {
    box-sizing: border-box;
    padding: 1.6rem 4.253rem 1.411rem 2.7rem;
    width: 32rem;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #2e276d;
    height: 4.7111rem;
    left: 0;
    top: 118.3rem;

    .prona-Yon {
      margin: 0rem 1.648rem 0rem 0rem;
      font-size: 0.7997rem;
      font-weight: 900;
      line-height: 1.3425;
      color: #ffffff;
      font-family: Tienne, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .line-11-4n8 {
      height: 1.7rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 3.6741rem;
      width: 0.025rem;
    }
    .partido-da-reedificao-da-ordem-nacional-oDv {
      line-height: 1.2575;
      flex-shrink: 0;
      margin-bottom: 0.0503rem;
      display: flex;
      align-items: center;
      font-size: 0.7997rem;
      white-space: nowrap;
      justify-content: center;
      font-weight: 400;
      color: #ffffff;
      font-family: Times New Roman, 'Source Sans Pro';
    }
  }
}
